/* ######################################################################################################## */
/* ######################################################################################################## */
/* ######################################################################################################## */

body {
    background-color: #ffffff;
}

/*
   * Sidebar
   */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    /* Behind the navbar */
    padding: 48px 0 0;
    /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: relative;
    top: 1.1em;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: hidden;
    /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
   * Content
   */

[role="main"] {
     background: #ffffff;
    padding-top: 133px; 
    /* Space for fixed navbar */
    height: 100vh;
}

@media (min-width: 768px) {
    [role="main"] {
        padding-top: 48px;
        background: #ffffff;
        /* Space for fixed navbar */
        height: 100vh;
    }
    .card img {

        margin: 0 auto;
        width: 80%;
        height: 80%;
    }
  
}

/*
   * Navbar
   */

.navbar-brand {

    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

/*
  *formulaire édition articles
  */

#add-form {
    margin: 0 auto;
    padding: 30px;
    border: #7777 1px solid;
    background: rgba(0, 0, 0, 0.1);
}

.card img {

    margin: 0 auto;
    width: 80%;
    height: 80%;
}

#add-form {
    width: 70%;
}

.tab-content {
    width: 100%;
}

.card {

    box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, 0.35), 0 12px 20px -12px rgba(0, 0, 0, 0.35);
    background-color: #fdfdfd;
    overflow: hidden;
}
.btn-group{
    margin: 0 auto;
}
