/*
*
* RGPD 
*
*/
.cookie{

    padding: 0.5em;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 150;
    background-color: rgb(0, 162, 255);

}

.cookie a{
    color: rgb(177, 226, 255);
    font-weight: 110;
}
