@font-face{

    font-family: "Quantify";
    src: url("../fonts/Quantify.ttf") format('truetype');

}
/*  
    ##################################################################################
    #################            DIVERS                ###############################
    ##################################################################################
 */

 /*     FONTS   */
.titre-section{
    font-family: 'Quantify', cursive;
    font-size: 4em;
}
 h2, h3 {
    font-family: 'Cabin';
    font-size: 2em;

}
h4,h5{
    font-family: 'Cabin', cursive;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    color: #4b4b4b;
 
}
.logo-nav{
    font-family: 'Quantify', cursive;
    font-size: 1.3em;

}
.nom_appli {
    font-family: 'Quantify';
    font-size: 11rem;
    font-weight: 300;
    color: black;
    margin-top : -400 rem; 


}

.titreMultiSupport{

    margin-top:150px;
}
.temp{
    color: #4b4b4b;
}

/*  CAROUSEL    */
.carousel img {
    opacity: 0.9;
}
.carousel-item{
    height: 100vh;
}
.carousel-caption{
    top: 200px; 
}

body {
    background-color: #f2f2f2;
}

li {

    list-style-type: none;
}
button{
    border-radius: 40px !important;
}

/*  
    ##################################################################################
    #################             SECTIONS             ###############################
    ##################################################################################
 */
#intro {
   
    height:auto;
}

#infos {
    background-color:rgb(214, 214, 214);
    overflow: hidden;
}

#contact {

    background-color:rgb(214, 214, 214);

}

/*  
    ##################################################################################
    #################             TEST EFFECT          ###############################
    ##################################################################################
 */


 @keyframes dash {
    0% {
        stroke-dasharray:  0 5333.982421875; 

      }
     50% {
        stroke-dasharray: 2666.9912 0;

      }
      80% {
        stroke-dasharray: 4267.1859 0;
        fill: black; 
    }
    100% {
        stroke-dasharray: 5333.982421875 0; 
        fill: black; 

      }
  } 


 /* pour le nom dans l'intro */
 .tracking-in-expand-fwd {
	-webkit-animation: tracking-in-expand-fwd 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            animation: tracking-in-expand-fwd 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    z-index: 100;

}

 /* pour le nom dans l'intro */
@-webkit-keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }

  /* pour le form */
  @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  


/*  
    ##################################################################################
    #################             CARDS INDEX          ###############################
    ##################################################################################
 */

#tarifs .card {
    position: relative;
}

#tarifs .card:before,
#tarifs .card:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

#tarifs .card:after {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}

/* 
    ##################################################################################
    #################             CARDS EFFECT         ###############################
    ##################################################################################
 */
.zoomin {

    overflow: hidden;

}

.zoomin img {

    transition: all 1.5s ease;
}

.zoomin:hover img {

    transform: scale(1.5);
}

/*
    #####################################################################################
    #################             FORMULAIRES         ###################################
    #####################################################################################
 */



#contact #contact-form {
    background-color: white;
    padding: 20px; 
    border: #d4d4d4 1px solid;
    box-shadow: 12px 0 20px -12px rgba(0, 0, 0, 0.35);
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group>input,
.form-label-group>label {
    height: 3.125rem;
    padding: .75rem;
}

.form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    pointer-events: none;
    cursor: text;
    /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: 1.25rem;
    padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown)~label {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 12px;
    color: rgb(141, 139, 139);
}
/*
    ##################################################################################
    #################            SCROLL EFFECTS        ###############################
    ##################################################################################
 */

/*
 * intro tarif 1 effect
 */

.anim-details[data-scroll] {
    transition: all 2s;
    transition-delay: 0.7s;
    opacity: 0;
}

.anim-details[data-scroll="in"] {


    opacity: 1;
}

.anim-details[data-scroll="out"] {

    opacity: 1;

}



/*
 * formulaire effect
 */
.form-effect[data-scroll]{
    transition: all 2s;
    opacity: 1;
}
.form-effect[data-scroll= "in"]{
    -webkit-animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/*animation qr code */
#path1[data-scroll] {
    transition: dash 7s ease-in forwards; 
    stroke-dasharray:     -5333.982421875 5333.982421875;
    stroke-width: 3px;

}
#path1[data-scroll="in"] {
   animation: dash 7s ease-in forwards;   

}

.btn-group .fas{
margin: 7px;
cursor: pointer;
} 



/* 
    ##################################################################################
    #################          MESSAGE FLASH           ###############################
    ##################################################################################
 */


div#flasher-flash{
    position:fixed;
    top:0;
    right:0;
    padding:10px 20px;
    background-color:#4AA24A;
    color:#fff;
    white-space: nowrap;
    z-index:50000;
    font-size:1.1em;
  }
  
div#error-flasher-flash{
    position:fixed;
    top:0;
    right:0;
    padding:10px 20px;
    background-color:#df3d3d;
    color:#fff;
    white-space: nowrap;
    z-index:50000;
    font-size:1.1em;
  }
  

/*  
    ##################################################################################
    #################          @MEDIA QUERIES          ###############################
    ##################################################################################
 */
 
@media (max-width: 768px) {

  .nom_appli {
   display: none;

}
  .carousel-item{
    height:auto;
}
}

@media(max-width:1140px){
    .nom_appli{
        font-size: 8rem;
    }
}
@media (min-width: 540px) {

    .carousel-item{
      height:auto;
  }
  
  }
